//- Scripts is only executed in production
- if ( process.env.NODE_ENV == 'production') {
  //- Google Tag Manager Script
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','#{process.env.EOS_GTM_ID}');
  //- End Google Tag Manager Script
  //- Google Tag Manager Noscript
  noscript
    iframe(src=`'//www.googletagmanager.com/ns.html?id=${process.env.EOS_GTM_ID}', height='0', width='0', style='display: none; visibility: hidden;'`)
  //- End Google Tag Manager Noscript
- }

.cookies-alert.js-cookies-alert.row
  .col-md-8
    .cookies-alert-body
      p
        | The #{config.brand} Design System uses cookies to help us learn more about how we can improve the design system.
        br
        a(href='/cookies-policy', data-event-category='Internal link', data-event-action='Cookies policy learn more', data-event-label='Cookies alert')
          | Learn more about our cookie policy
  .col-md-4
    .cookies-alert-buttons
      a.btn.btn-secondary.change-preference(href='/cookies-policy')
        | Edit preferences
      button.btn.btn-primary.js-cookies-accept
        | Accept
