.alert.alert-global.alert-hidden.js-global-alert
  i.eos-icons.eos-18
    | info
  .alert-body
    .alert-global-desktop

    .alert-global-mobile

  a.close.js-global-alert-close(data-dismiss='alert')
    i.eos-icons.eos-18
      | close
