/* Icons page
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Colour variables: /assets/stylesheets/eos-base/variables/branding.scss */

$eos-icon-badge-bg: $eos-bc-pine-500;
$eos-icon-badge-radius: 0px;
$eos-icon-badge-color: $eos-bc-white;
$eos-icon-badge-h-w: 100px;
$eos-icon-badge-margin: 20px;
$eos-icon-badge-icons-m: 0 0 $eos-s;

$eos-icon-badge-light-bg: $eos-bc-white;
$eos-icon-badge-light-border: 2px solid $eos-bc-gray-1000;
$eos-icon-badge-light-color: $eos-bc-gray-1000;

$eos-copy-icon-color-radius: 0px;
$eos-copy-icon-color-m: $eos-m;
$eos-copy-icon-color-dark-bg: $eos-bc-pine-500;
$eos-copy-icon-color-dark-border: $eos-bc-white;
$eos-copy-icon-color-dark-color: $eos-bc-white;
$eos-copy-icon-color-dark-span: 1px solid $eos-bc-white;

$eos-copy-icon-color-light-bg: $eos-bc-white;
$eos-copy-icon-color-light-border: 1px solid $eos-bc-gray-1000;
$eos-copy-icon-color-light-span: 1px solid $eos-bc-gray-1000;
$eos-copy-icon-color-span-m: 0 $eos-s 0 0;
$eos-copy-icon-color-span-p: $eos-xs $eos-s;
$eos-copy-icon-color-result-p: $eos-xs;
$eos-copy-icon-color-result-w: 36px;

$eos-icon-search-height: $eos-xl;
