/* Cards dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/card/dark-theme.variables.scss */
.dark-theme {
  .card {
    background-color: $eos-dark-background;
    box-shadow: $eos-dark-card-box-shadow;

    &.clickable

    &.clickable h3,
    p,
    .card-text,
    .card-body,
    small {
      color: $eos-dark-card-color;
    }

    .card-header {
      color: $eos-body-color;
    }
  }

  .card-header,
  .card-with-icon {
    background: $eos-dark-card-header-footer;
  }

  .card-vertical {
    footer {
      background: $eos-dark-card-header-footer;
      color: $eos-dark-card-color;
    }
  }
}
