extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Tooltips
          p.subheadline
            | Use tooltips in mouse over events to show the user more information about an action or data.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Tooltip assets
            ul.dropdown-menu.dropdown-menu-right
              include ../shared/kit-dropdown/assets.pug
    hr
    article
      section.margin-top-xxl
        h3.anchor
          | Description
        ul.list-no-padding
          li
            | Tooltips are used to show more information in buttons, links, or important user data
            | (non-actionable) where the space in screen is insufficient.
          li
            | Tooltips should only appear on #[code :hover] and #[code :focus].
          li
            | Always show the tooltip on #[code top] of the element. Use #[code bottom], #[code left] or #[code right] only if #[code top] fails.
          li
            | Use #[code $eos-bc-gray-1000] as background color.

      section.margin-top-xl.global-alerts-demo
        .row.states-row.margin-top-xxl
          .col-md-3.states-column
            strong.states-column-title
              | Tooltip types
            ul.states-list.no-list-style.js-showcase-list
              li.js-showcase-current
                .form-check
                  input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='tooltip')
                  label.form-check-label.js-element-label(for='default-state')
                    | Default
          .col-md-9.component-showcase-col
            strong.js-showcase-how-to
              | How to use this element
            p.js-how-to-use
            strong.d-block
              | Example
            .states-example-box
              .example-inner-box-full.js-example-inner-box
            strong.d-block
              | Code
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code.language-markup
                code.language-html

    article
      h3.anchor.margin-top-xxl
        | Use cases
      .row
        .col-md-12
          strong
            | Example 1: interactive message.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/color-panel-tooltip.svg', alt='Tooltip example for interactive message')
      .row.margin-top-xxxl
        .col-md-12
          strong
            | Example 2: truncated text shown entirely inside the tooltip.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/username-tooltip.svg', alt='Tooltip example for truncated text')
      .row.margin-top-xxxl
        .col-md-12
          strong
            | Example 3: icon only button.
          .figure-wrap.margin-top-xxl
            figure
              img(src='/images/tooltips/icon-buttons-tooltips.svg', alt='Tooltip example for icon only button')
