extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Layout dark theme
          p.subheadline
            | The basic structure and behaviour of the dark theme will remain the same.
            | It comprises of only light-coloured text, icons, and graphical user interface
            | elements on a dark background.
          p
            | Visit the #[a(href='/examples/demo-layout.html?dark-theme', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout dark theme', target='_blank', rel='noreferrer nonopener') layout dark theme demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Layout assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h3.anchor
        | Basic structure colors

      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid(src='/images/layout/dark-theme/layout-color.png')
    article.margin-top-xxl
      h3.anchor
        | Main menu
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#main-menu-breakpoint-1', aria-controls='main-menu-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#main-menu-breakpoint-2', aria-controls='main-menu-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#main-menu-breakpoint-3', aria-controls='main-menu-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #main-menu-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/main-menu-web.png', alt='Dark theme main menu image for desktop')
        #main-menu-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/main-menu-tablet.png', alt='Dark theme main menu image for tablet')
        #main-menu-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/main-menu-mobile.png', alt='Dark theme main menu image for mobile')
    article.margin-top-xxl
      h3.anchor
        | Submenu
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#submenu-breakpoint-1', aria-controls='submenu-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#submenu-breakpoint-2', aria-controls='submenu-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#submenu-breakpoint-3', aria-controls='submenu-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #submenu-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/submenu-web.png', alt='Dark theme submenu image for desktop')
        #submenu-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/submenu-tablet.png', alt='Dark theme submenu image for tablet')
        #submenu-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/submenu-mobile.png', alt='Dark theme submenu image for mobile')
    article.margin-top-xxl
      h3.anchor
        | Footer
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#footer-breakpoint-1', aria-controls='footer-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#footer-breakpoint-2', aria-controls='footer-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#footer-breakpoint-3', aria-controls='footer-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #footer-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/footer-web.png', alt='Dark theme footer image for desktop')
        #footer-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/footer-tablet.png', alt='Dark theme footer image for tablet')
        #footer-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/dark-theme/footer-mobile.png', alt='Dark theme footer image for mobile')
