/* Alerts dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/card/dark-theme.variables.scss */
.dark-theme {
  eos-alert {
    color: $eos-body-color;
  }
}
