extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Arrow icons usage

      p.subheadline
        | Arrows are widely used to point or indicate direction or to represent progress of order.
        | Using correct icon consistently across all #{config.brand} products requires a well-defined set of rules.
    hr
    h3.anchor
      | Using arrows
    p
      | Arrow usage in applications can be broken down into two main use cases:
    ol
      li
        | To show direction ("to the right", "above", "below", etc)
        p
          | This type of arrow indicates a path and a direction upon that path.
          | Used in a button it shows the literal direction of an action (“move
          | item to the right”). When used in a non-linear hierarchy, such as a
          | file system context, this type of arrow with a bend in the path, is
          | used to indicate a subordinate item, in this case, a subdirectory.
        h6
          | Directional
        i.eos-icons.eos-18
          | arrow_forward
        i.eos-icons.eos-18
          | arrow_back
        i.eos-icons.eos-18
          | arrow_downward
        i.eos-icons.eos-18
          | arrow_upward
        h6
          | Subdirectories
        i.eos-icons.eos-18
          | subdirectory_arrow_right
        i.eos-icons.eos-18
          | subdirectory_arrow_left
      li
        | To represent progress of order ("start", "forward/back", or "next/previous")
        p
          | These types of arrows indicate movement between states in a linear
          | process or hierarchy. Examples of usage are “initiate a system process”,
          | “move to the next/previous step” “expand/collapse”, or breadcrumb/page hierarchy.
        i.eos-icons.eos-18
          | keyboard_arrow_left
        i.eos-icons.eos-18
          | keyboard_arrow_right
        i.eos-icons.eos-18
          | keyboard_arrow_up
        i.eos-icons.eos-18
          | keyboard_arrow_down
