/* Dashboard writing
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard-writing/dashboard-writing.variables.scss */

.writing-mosaic {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: $eos-da-w-writing-mosaic-max-width;

  @media screen and (max-width: $eos-sd-max) {
    display: none;
  }
}
