/* ==========================================================================
  Coming next page
========================================================================== */
/* Variables file: assets/stylesheets/eos-pages/coming-next/coming-next.variables.scss */

.coming-next-article {
  border-bottom: $eos-coming-next-border-bottom;
  margin-top: $eos-coming-next-margin-top;

  h3:first-of-type {
    margin-bottom: $eos-coming-next-h3-margin-bottom;
  }
}
