/* Do and Dont component variables / $eos-dd = do-dont
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-do-dont-bg: $eos-bc-white;
$eos-do-title: $eos-color-success;
$eos-dont-title: $eos-color-danger;
$eos-dd-main-border: inset 0 0 0 1px $eos-bc-gray-50;
$eos-dd-column-border: 5px;
$eos-do-column-border: $eos-color-success; // Reference at /assets/stylesheets/eos-base/variables/colors.scss
$eos-dont-column-border: $eos-color-danger;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-dd-container-text-center-margin-top: $eos-l;
$eos-dd-content-margin-left: $eos-l;
$eos-dd-padding: $eos-m 0;
$eos-dd-padding-mobile: $eos-m 0;
$eos-dd-container-margin-mobile: $eos-m 0px;
$eos-dd-column-magin: 0 $eos-m;
$eos-dd-column-padding: $eos-m;
$eos-dd-column-ul-padding: 0 0 0 $eos-m;
$eos-dd-dont-column-margin-mobile: $eos-m;
$eos-dd-dont-full-width-do-dont: $eos-s;
