/* Feedback-tool dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/do-dont/dark-theme.variables.scss */
.dark-theme {
  .feedback-tool {
    background: $eos-ft-card-dark-bg;
  }
}
