.mobile-menu.js-mobile-menu
  header
    a(href='/')
      img.ds-logo(src='/images/suse-product-brand.svg', alt='SUSE product brand logotype')
    .burger-menu.js-burger-menu
      a
        i.eos-icons
          | menu
  nav.display-nav
    //- Extend menu list mixin
    include  main-menu.pug
