.modal-custom {
  .modal-header {
    border: transparent;
    padding: $eos-custom-modal-header-padding;
  }

  .modal-body {
    padding: $eos-custom-modal-body-padding;
  }

  .modal-content {
    background-color: $eos-custom-modal-content-bg-color;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $eos-custom-modal-content-color;
    font-family: $eos-custom-modal-font-family;

    &:hover {
      cursor: pointer;
    }
  }
}
