/* Component showcase dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/card/dark-theme.variables.scss */
.dark-theme {
  .component-showcase-col {
    background-color: $eos-component-showcase-bg;

    .states-example-box {
      background-color: $eos-dark-background;
    }
  }
}
