/* Icon display component
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/icon-display/icon-display.variables.scss */
.icon-display {
  align-items: center;
  border: $eos-icon-display-border;
  border-radius: $eos-base-border-radius-size;
  display: inline-flex;
  flex-direction: column;
  padding: $eos-l;
  text-align: center;
  width: $eos-icon-display-width;

  &:hover {
    background: $eos-icon-display-background;
    border: $eos-icon-display-border-hover;
    cursor: pointer;
  }

  .icon-name {
    margin-top: $eos-icon-icon-name-margin-top;
  }
}
