/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard/dashboard.variables.scss */
.dashboard {
  z-index: 0;

  &.container {
    margin-bottom: 0;
  }
}

/* Getting started
  ========================================================================== */
.getting-started-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .dark-theme {
    display: none;
  }

  .light-theme {
    display: inline-block;
  }
}

.getting-started-img {
  background-image: $eos-dash-gs-ac-bg-light;
  background-repeat: no-repeat;
  background-size: contain;
  height: $eos-dash-gs-ac-bg-height;
  margin: 0 auto;
  max-width: $eos-dash-gs-hero-bg-max-size;
  width: 100%;

  &.getting-started-dark {
    display: none;
  }
}

@media screen and (max-width: $eos-sd-max) {
  .getting-started-img {
    display: none;
  }

  .getting-started-item {
    margin-bottom: $eos-dash-gs-item-sm-margin;
  }
}

.atomic-classification {
  .figure-wrap {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: $eos-dash-gs-ac-figure-h-w;
    justify-content: center;
    margin: 0 auto;
    width: $eos-dash-gs-ac-figure-h-w;

    img {
      width: $eos-dash-gs-ac-figure-img-w;
    }
  }
}
